/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-font-family: "Poppins", sans-serif;
}
ion-content {
  width: 100%;
  height: 100%;

  --background: none;
  background: url(../../public/background-app-2.jpg) center center no-repeat;
  background-size: cover;
}
